@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Oxygen+Mono|Oxygen:300&display=swap');
html {
  background: #eee;
}
body, html {
  height: 100%;
}
#admin {
  background-image: url("../static/images/login_bg2.jpg");
}
#user{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(0, 0, 9, 0.73)), url(../static/images/user.jpg);
}
#admin,
#user{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 1 */
.sidebar {
 position: static;
 left: 0;
 background: #083266;
 width: 220px;
 font-size: 14px
}
.nav {
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;
}
.sidebar .nav>li>a {
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
 -o-transition: all 1s ease;
 transition: all 1s ease;
}
#allUsers,
#bookings,
#pricelist {
  background-color: hsla(221, 84%, 81%, 0.514);
  margin-top: 20px;
}
.list{
  margin-top: 15px;
}
.sidebar .nav>li>a {
  font-size: 1.3em;
  text-align: center;
  color: hsla(221, 84%, 81%, 0.932);
}
.sidebar .nav>li>a:hover,
.btn:hover{
  background-color:hsla(221, 84%, 81%, 0.932);
 color: #083266;
 /* width: 100%; */
}
.search{
  margin-right:20px;
}
.btn{
  align-content: center;
  margin: 5px auto;
  /* padding: 2px; */
  background-color:hsla(221, 84%, 81%, 0.932);
  color: #083266;
  width: 80px;
}
.nav-profile h2{
  text-align: center;
  margin: 0.2em auto;
}
.hide{
  display: none;
}
.adminlanding,
.userlanding{
  min-height: 80vh;
}
#desc{
  font-family: 'Dancing Script', cursive;
  font-size: 6em;
  text-align: center;
  font-weight: 900;
  margin-right: 1.4em;
  position: sticky;
  bottom: 0;
  color: #fc9003;
}
.welcome_admin{
  font-family: 'Oxygen Mono', monospace;
  /* font-weight: 600; */
}
.ad_dash{
  font-family: 'Oxygen', sans-serif;
  border-left: 1px;
  border-bottom: 1px solid orangered;
  /* border-color: darkorange; */
  /* border-radius: 10%; */
  /* box-shadow:  brown; */
  color: hsla(221, 84%, 81%, 0.932);
}
/* font-family: 'Oxygen Mono', monospace;
font-family: 'Oxygen', sans-serif; */
/* font-family: 'Dancing Script', cursive; */