#image2{
    background-image:url("https://images.unsplash.com/photo-1517999349371-c43520457b23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat; 
    background-size: cover;
  
  }
  #text1{
    color: rgb(18, 18, 107);
    
  }
  footer{
    background-color: blue;
  }
  #signup{
    border: 6px solid rgb(31, 8, 75);
    background-color:  rgb(7, 7, 7);
    opacity: 0.7;
    position: absolute;
    top:0;
    color:white;
    margin-top: 150px;
    margin-left: 50px;
    padding-right: 70px;
    padding-bottom: 100px;
  }
  #loginn{
    border: 6px solid rgb(31, 8, 75);
    background-color: rgb(7, 7, 7);
    position: relative;
    opacity: 0.7;
    margin-bottom:1100px;
    margin-left:400px;
    width: 60%;
    
    
    color: white;
  }
  #booking{
      border: 6px solid rgb(31, 8, 75);
      background-color:  rgb(7, 7, 7);
      color:white;
      opacity: 0.5;
      position: absolute;
      top:0;
      margin-left: 660px;
      padding-bottom: 100px;
      margin-top: 150px;
      padding-right: 70px;
  }
  #button {
    background-color: #110672;
    
  }
  h3,p{
    text-align: center;
    padding-left: 50px;
  }
  
#map {
    width: 600px;
    height: 600px;
    position:absolute;
    right:0;
    top:0;
    height:90%;
    margin-top:4.5%;
  }
  .container{
      float: left;
     
  }
  #paystackEmbedContainer{
      padding: 30px;
      margin: 20px;
  }
