{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
<div class="adminlanding">
    <div class="row" style="background-color:#083266 ;">
        <nav class="sidebar col-sm-3">
          <h2 class="ad_dash" style="text-align: center ;color:#ff8d1e;"><span>Admin Dashboard</span></h2>
          <div class="list">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/alluser">View all Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allbookings" >View Bookings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allprices" >Price List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/alltrans" >all users transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addprice" >add prices</a>
                  </li>
                </ul>
          </div>
        
        </nav>
            
        <div class="col-sm-9 bg" id="admin" style="background-color: #ffff;">
          <div class="class= admin_details">
            <div class="welcome_admin" style="text-align: center;">
              <!-- <h2 style="color: red;text-transform: capitalize;">Welcome Admin</h2> -->
             
              {% for user in allusers %}
            <h2 class="header_h2" style="text-align:left">Welcome</h2>
            <div class="imgcontainer">
              {% if user["gender"] == "male" %}
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            {% else %}
            <img src="https://www.w3schools.com/howto/img_avatar2.png"alt="Avatar" class="avatar">
            {% endif %}
          </div>
          <div class="details_center">
            <p><span class="name_display">Name:</span> {{user['fullname'] }} </p>
            <p><span class="name_display">Email:</span> {{user['email'] }} </p>
            <p> <span class="name_display">Gender:</span> {{user['gender'] }} </p>
            <p> <span class="name_display">Phone:</span> {{user['phone_number'] }} </p>
          </div>
          </div>
          </div>
         
          


        
  
  
          {% endfor %}
  
           
        </div>
          
          <!-- <div>
            <p id="desc"><i>To Serve you better</i></p>
          </div> -->
        </div>
    </div>
 </div>

{% endblock %}