{% extends "base.html" %}
{% block title %}payment{% endblock %}

{% block main %}
    

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">price</th>
        <th scope="col">reference</th>
        <th scope="col">user_id</th>
        <th scope="col">message</th>
        <th scope="col">ticket_id</th>
        <th scope="col">status</th>

      </tr>
    </thead>
    <tbody>
        {% for r in alltrans %}
      <tr>
        <th scope="row">{{r['id']}}</th>
        <td>{{ r['name'] }}</td>
        <td>{{ r['email'] }}</td>
        <td>{{r["phone"]}}</td>
        <td name="price" id="pricepay">{{ r['price']}}</td>
        <td>{{r["reference"]}}</td>
        <td>{{ r['user_id'] }}</td>
        <td>{{ r['message'] }}</td>
        <td>{{r["ticket_id"]}}</td>
        <td>{{r["status"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
    
</table>

      
    


		
   
{% endblock %}
