{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}

<div style="margin: 10rem auto">
<h2 class="pricesss" style="color:orange;">Price of available flights</h2>

<div style="width:60% ; margin: 20px auto; border:1px solid ;border-radius:6px">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Departure</th>
        <th scope="col">Destination</th>
        <th scope="col">Price</th>
    


      </tr>
    </thead>
    <tbody>
     
        {% for ro in row %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ ro['departure'] }}</td>
          <td>{{ ro['destination']}}</td>
          <td>{{ro['price']}}</td>

         
            </tr>
        {% endfor %}

      </tbody>
</table>
</div>
</div>

{% endblock %}
