<DOCTYPE htgit ml>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
   <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
  
    <!-- Bootstrap core CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/main1.css">
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    
    
  </head>
  
  <body>
    <nav  class="navbar navbar-inverse" style="margin-bottom : -10px; opacity:0.9;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  id ="image2" class=" navbar-brand" href="#">AIRWAVE AIRLINE</a>
    </div>
     {% if session.user_id %}
         <ul style=" padding-left: 30%;" class="nav navbar-nav">
       <li role="presentation"><a href="/home">Home</a></li>
       <li role="presentation"><a href="/booking">booking</a></li>
        <!-- <li role="presentation"><a href="/gallery">Gallery</a></li> -->
        <li role="presentation"><a href="/history">history</a></li>
        <li role="presentation"><a href="/about">about</a></li>
        <li role="presentation"><a href="/avaliableprice">prices</a></li>

        <li role="presentation"><a href="/logout">logout</a></li>
    </ul>
    
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
     
        </div>
      </div>
    </form>
                {% else %}
                <ul style=" padding-left: 30%;" class="nav navbar-nav">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/register">register</a></li>
                     <!-- <li role="presentation"><a href="/gallery">Gallery</a></li> -->
                     <li role="presentation"><a href="/login">login</a></li>
                     <li role="presentation"><a href="/about">about</a></li>
                     <li role="presentation"><a href="/avaliableprice">prices</a></li>
                 </ul>
                 
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
             
    </div>
  </div>
</form>
                {% endif %}
            </div>
  

  </div>
</nav>

{% if get_flashed_messages() %}
<header>
    <div class="alert alert-primary border text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}
      {% block main %}
      {% endblock %}
      <footer id="footer" class="footer-1">
          <div class="main-footer widgets-dark typo-light">
          <div class="container">
          <div class="row">
            
          <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
          <h5 class="widget-title">AirWave Airline<span></span></h5>
          <p>Your happiness is our goal, enjoy your holiday with Airwave</p>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
          <h5 class="widget-title">Quick Links<span></span></h5>
          <ul class="thumbnail-widget">
          <li>
          <div class="thumb-content"><a href="/login">Log in</a></div>	
          </li>
          <li>
          <div class="thumb-content"><a href="#">Careers</a></div>	
          </li>
          <!-- <li>
          <div class="thumb-content"><a href="gallry.html">Gallery</a></div>	 
          </li> -->
          <li>
          <div class="thumb-content"><a href="/about">About</a></div>	
          </li>
          </ul>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
          <h5 class="widget-title">Get Started<span></span></h5>
          <p>Get access to your full Training and Marketing Suite.</p>
          <a class="btn" href="#." target="_blank">Register Now</a>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 col-md-3">
          
          <div class="widget no-box">
          <h5 class="widget-title">Contact Us<span></span></h5>
          
          <p><a href="jesudunsinbabatunde@gmail.com" title="send a mail">info@airwaves.com</a></p>
          <p>

          <a href="tel:08139220000">Call us at 08139220000</a></p>
          
          </div>
          </div>
          
          </div>
          </div>
          </div>
            
          <div class="footer-copyright">
          <div class="container">
          <div class="row">
          <div class="col-md-12 text-center">
          <p>Copyright AirWave Airlinde © 2019. All rights reserved.</p>
          </div>
          </div>
          </div>
          </div>
          </footer>
         
          
          <script src="/static/js/main.js"></script>
          <script src="/static/js/admin.js"></script>
  </body>
</html>

