{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/booking" method="post">
  <div class="signup-form">
        <div class="container">
		<h2 id="margin">booking</h2>
		<p class="hint-text">book your dream flight</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> signFacebook</a>
			<a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
		</div>
        <div class="or-seperator"><b>or</b></div>
       
            <div class="row justify-content-md-center">
              <div class="col col-lg-6">
                  <label>depature</label>
        <select class="custom-select custom-select-sm" name="departure">
            <option value="" selected="selected">- depature -</option>
            <option value="Abuja">Abuja FCT</option>
            <option value="Delta">Delta</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Ilorin">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Ibadan">Oyo</option>          
          </select>
          <label>destination</label>
          <select class="custom-select custom-select-sm" name="destination">
            <option value="" selected="selected">- depature -</option>
            <option value="Abuja">Abuja FCT</option>
            <option value="Delta">Delta</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Ilorin">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Ibadan">Oyo</option>              
      </select>
           
      <div class="form-group">
        <label>depature date</label>
        <input type="date" class="form-control" placeholder="Date of departure" name="date" id="date">

    </div>
    <div class="form-group">
        <label>passenger</label>
        <select name="passenger" id="move"class="custom-select custom-select-sm">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
            
    </div>
    <div class="form-group">
        <div class="form-group">
            <label>time</label>
            <select name="time" class="custom-select custom-select-sm">
                <option value="12:00pm">12:00</option>
                <option value="4:00pm">4:00pm</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" id="submit-button">book flight</button>
    </div>
    </div>
        
    </div>
    
</form>

</div>
</div>

        <div id="map"></div>
      
    


		
   
{% endblock %}
