{% extends "base.html" %}
{% block title %}transaction status{% endblock %}
{% block main %}
    

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">departure</th>
        <th scope="col">destination</th>
        <th scope="col">price</th>
        <th scope="col">time</th>
        <th scope="col">date</th>
        <th scope="col">status</th>

      </tr>
    </thead>
    <tbody>
        {% for r in d %}
      <tr>
        <th scope="row">1</th>
        <td>{{ r['departure'] }}</td>
        <td>{{ r['destination'] }}</td>
        <td name="price" id="pricepay">{{ r['prices']}}</td>
        <td>{{r["time"]}}</td>
        <td>{{r["date"]}}</td>
        <td>{{r["status"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
    
</table>

<script src='https://js.paystack.co/v1/inline.js'></script> 

      
    


		
   
{% endblock %}
