{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
  <div class="signup-form">

		<h2>Create an Account</h2>
		<p class="hint-text">Sign up with your social media account or email address</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
			<a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
		</div>
		<div class="or-seperator"><b>or</b></div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg" name="username" placeholder="Username" requried>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="password" id = "password1"placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="confirmation" password="cpassword" placeholder="Confirm Password" required="required">

        </div>
 <p id="validate-status"></p>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" id="submit-button">Sign Up</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a href="#">Login here</a></div>
</div>

{% endblock %}
