{% extends "base.html" %}
{% block title %}transaction status{% endblock %}
{% block main %}
    
<div style="width:60% ;margin: 5rem auto ;min-height: 80vh;">
<table class="table"style="border:1px solid ;border-radius:6px">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Departure</th>
        <th scope="col">Destination</th>
        <th scope="col">Price</th>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
        {% for r in d %}
      <tr>
          <th scope="row">{{ loop.index }}</th>
        <td>{{ r['departure'] }}</td>
        <td>{{ r['destination'] }}</td>
        <td name="price" id="pricepay">{{ r['prices']}}</td>
        <td>{{r["time"]}}</td>
        <td>{{r["date"]}}</td>
        <td>{{r["status"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
    
</table>
</div>

<script src='https://js.paystack.co/v1/inline.js'></script> 

      
    


		
   
{% endblock %}
