{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}


     
        {% for user in allusers %}
        <h2 class="header_h2">welcome <span  class="name_display">{{ user['fullname'] }}</span> </h2>
        <div class="imgcontainer">
          {% if user["gender"] == "male" %}
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
        
        {% else %}
        <img src="https://www.w3schools.com/howto/img_avatar2.png"alt="Avatar" class="avatar">
        {% endif %}
      </div>
      <div style="text-align: center;">
        <p><span class="name_display">fullname:</span> {{user['fullname'] }} </p>
        <p><span class="name_display">email:</span> {{user['email'] }} </p>
        <p> <span class="name_display">gender:</span> {{user['gender'] }} </p>
        <p> <span class="name_display">phone:</span> {{user['phone_number'] }} </p>
      </div>


        {% endfor %}

  
{% endblock %}
