{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
#section1{
  background-image:url("https://images.unsplash.com/photo-1543928728-d64f46f9e480?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat; 
  background-size: cover;
  padding-left:40%
}img {
  width: 40%;
  height:400px;



}
    </style>
<div style="width:100%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="https://images.unsplash.com/photo-1573572042495-46216b86610b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="Los Angeles" style="width:100%; height:550px">
       

        <div id="" style="padding-right: 50px;" class="carousel-caption">
          <h3>The smartest way to fly</h3>
          <p>We give the best!</p>
        </div>
      </div>


      <div class="item">
        <img src="https://images.unsplash.com/photo-1550740850-48b638b91c65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1214&q=80" alt="Chicago" style="width:100%;height:550px;">
      
        <div  class="carousel-caption">
          <h3>Flights available</h3>
          <p>Thank you, Nigeria!</p>[]
        </div>
      </div>
    
      <div class="item">
        <img src="https://images.unsplash.com/photo-1530545124313-ce5e8eae55af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" alt="New York" style="width:100%; height:550px">
        <div class="carousel-caption">
        
          <h3>Best airline</h3>
          <p>Feel relaxed!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
<div class="container">
  <div class="row" id="signup"> 
    <div class="col-sm-4">
      <div class="logs">
          <!-- <h3>AirWave Airline</h3> -->
          <a class="btn" href="/login" role="button">Log in</a>    
      </div>
    </div>

    <div class="col-sm-4">
      <div class="logs">
        <!-- <h3>AirWave Airline</h3> -->
        <a class="btn " href="/register" role="button">sign up</a>
      </div>
    </div>

      <div class="col-sm-4">
        <div class="logs">
            <!-- <h3>AirWave Airline</h3> -->
            <a class="btn" href="/booking" role="button">Booking</a>
        </div>
      </div>
</div>
</div>

<!-- <div style ="padding-top:1% ; padding-left:20%">
<img style ="padding-left:1%; padding-bottom:0.5%; height:300px; width :20%;"src="https://images.unsplash.com/photo-1573572042495-46216b86610b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Italian Trulli">
<img style ="padding-left:1%;padding-bottom:0.5%; height:300px; width :20%;"src="https://images.unsplash.com/photo-1515518493299-fbccfdde0840?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
<img style ="padding-left:1%;padding-bottom:0.5%; height:300px; width :20%;"src="https://images.unsplash.com/photo-1558709339-e9bb161d9d0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
<img style ="padding-left:1%;padding-bottom:0.5%; height:300px; width :20%;"src="https://images.unsplash.com/photo-1512100356356-de1b84283e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=709&q=80">
</div> -->

{% endblock %}