{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <form action="/login" method="post">
        <div class="imgcontainer">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
              </div>
            
              <div class="container">
                <label for="email"><b>email</b></label><br>
                <input type="text" placeholder="Enter Username" name="email"  required class="ink" ><br>
            
                <label for="password"><b>Password</b></label><br>
                <input type="password" placeholder="Enter Password" name="password" required class="ink"><br>
                    
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
    </form>
{% endblock %}
