{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">departure</th>
        <th scope="col">destination</th>
        <th scope="col">price</th>

      </tr>
    </thead>
    <tbody>
        {% for r in ro %}
      <tr>
        <th scope="row">1</th>
        <td>{{ r['departure'] }}</td>
        <td>{{ r['destination'] }}</td>
        <td name="price" id="pricepay">{{ r['price']*pa}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <input type="hidden" value="{{ ro[0]['price']*pa }}" id="pricetopay">
    <input type="hidden" value="{{ emails }}" id="email">
    <input type="hidden" value="{{fullname}}" id="fullname">
    <input type="hidden" value="{{userId}}" id="userId">
    <input type="hidden" value="{{phone}}" id="phone">
    <input type="hidden" value="{{pa}}" id="passenger">
</table>
<button type="button" onclick="payWithPaystack2();" class="btn btn-primary">Pay</button>

<script src='https://js.paystack.co/v1/inline.js'></script> 

      
    


		
   
{% endblock %}
