{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
<h2 style="text-align: center;color: #ff8d1e;">History</h2>
<div style="width:60% ;margin: 10px auto ; min-height: 80vh;" >
<table class="table" style="border:1px solid ;border-radius:6px;">
    <thead class="thead-dark" style="background-color:orange ;color: white;">
      <tr>
        <th scope="col">#</th>

        <th scope="col">Departure</th>
        <th scope="col">Destination</th>
        <th scope="col">Ticket_id</th>
        <th scope="col">Passengers</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
     
        {% for ro in allusers %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
          <td>{{ ro['departure'] }}</td>
          <td>{{ ro['destination']}}</td>
          <td>{{ro['ticket_id']}}</td>
          <td>{{ ro['passenger'] }}</td>
          <td>{{ ro['date'] }}</td>
          <td>{{ ro['time']}}</td>
          <td>{{ro['prices']}}</td>
          <td>{{ ro['status'] }}</td>
          
            </tr>
        {% endfor %}

      </tbody>
</table>
</div>
{% endblock %}
